@import '../variables.scss';

.ebay {
  overflow-x: hidden;
}
  .innerWrapper h1 {
        color: #0065C2;
     }
     .innerWrapper h2 {
        color: #0065C2;
     }
     .innerWrapper  b {
        font-weight: 500;
     }
     .innerWrapper ol {
        margin: 5px 0 0 0;
        padding-left: 17px;
     }
     .innerWrapper li {
        line-height: 1.5;
     }
     .innerWrapper object {
        margin-top: 20px;
     }

     .innerWrapper #ebayFooter {
        padding: 24px 0;
        background-color: #e3edf5;
      }
      .innerWrapper  #lightbulbBanner {
        background-color: #fffbe9;
        display: flex;
        flex-direction: row;
        padding: 4px 28px 3px 0;
        width: calc(100% + 104px);
        transform: translateX(-76px);
        margin-top: 8px;
        border-radius: 5px;
      }
      .innerWrapper #ebayFooter img {
          min-width: 32px;
          padding: 0 20px 0 24px;
          transform: translateY(-4px);
        }
        .innerWrapper #ebayFooter p {
          font-family: sans-serif;
          font-weight: 700;
          color: #956C00;
        }
     

      #proconChart {
        padding: 28px 32px;
        background-color: #F3FAFF;
        max-width: 380px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      }
      #proconChart h4{
       color: #0053A0;
       padding: 0;
       margin-bottom: 8px;
     }
       
     #proconChart div {
          display: flex;
          flex-direction: row;
        }
        #proconChart img {
            margin-left: 16px;
            width: 20px;
          }
          #proconChart p {
            width: calc(100% - 36px);
            color: #0053A0;
            padding: 6px 0;
          }
        
      

      .innerWrapper #dlButton {
        display: inline-block;
        color: white;
        background-color: #0d71ff;
        padding: 14px 20px;
        border-radius: 5px;
        line-height: 16px;
        margin: 0 0 32px 0;
        transition: all 0.25s;
        font-weight: 700;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 0px 6px 26px #ffffff00;
        border: none;
      }
      .innerWrapper img {
          width: 16px;
          border: none;
          margin-left: 12px;
          transform: translateY(1px);
        }
     
        .innerWrapper #dlButton:hover {
        transform: translateY(-6px);
        cursor: pointer;
        box-shadow: 0px 6px 26px #0d71ff75;
      }
      .innerWrapper #dlButton:active {
        transform: translateY(0px);
        cursor: pointer;
      }
      .innerWrapper #dlButton:focus {
        outline: none;
      }

      .innerWrapper #navbarImg {
        background-color: #f3f3f3;
        padding: 5px;
        margin: 20px 0;
      }
      .innerWrapper #navbarImg img {
          width: 100%;
        }
     

      #finalSSF {
        background-color: #F3FAFF;
      }
        #finalSSF #final {
          justify-content: center;
        }
        #finalSSF video {
          max-height: 505px;
          min-width: 99px;
          padding: 0px 40px;
        }
        #finalSSF p {
          color: #0f3652;
        }
        #finalSSF h4 {
          color: #0f3652;
        }
     
  














@media screen and (max-width:1234px) {
  .ebay  .innerWrapper   #lightbulbBanner {
        transform: none;
        width: 100%;
        padding: 0;
  }
  .ebay  .innerWrapper   #lightbulbBanner  img {
          display: none;
        }
        .ebay  .innerWrapper   #lightbulbBanner  p {
          padding: 16px 24px;
        }
      }
   
 

@media screen and (max-width: 922px) {
  .ebay .innerWrapper #proconChart {
        padding: 20px 28px;
      }
   }
 